<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/agendasmart_icono"
        android:label="@string/app_name"
        android:roundIcon="@drawable/agendasmart_icono"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgendaSmart"
        tools:targetApi="31">
        <activity
            android:name=".views.ActualizarContactoActivity"
            android:exported="false" />
        <activity
            android:name=".views.DetalleContactoActivity"
            android:exported="false" />
        <activity
            android:name=".views.AgregarContactoActivity"
            android:exported="false" />
        <activity
            android:name=".views.MisContactosActivity"
            android:exported="false" />
        <activity
            android:name=".views.ActualizarTareaActivity"
            android:exported="false" />
        <activity
            android:name=".views.ActualizarImagenPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".views.CambiarContrasenaActivity"
            android:exported="false" />
        <activity
            android:name=".views.DetalleTareaActivity"
            android:exported="false" />
        <activity
            android:name=".views.EliminarCuentaActivity"
            android:exported="false" />
        <activity
            android:name=".views.TareasImportantesActivity"
            android:exported="false" />
        <activity
            android:name=".views.MisTareasActivity"
            android:exported="false" />
        <activity
            android:name=".views.AgregarTareaActivity"
            android:exported="false" />
        <activity
            android:name=".views.ActualizarPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".views.LobbyActivity"
            android:exported="false" />
        <activity
            android:name=".views.RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".views.InicioSesionActivity"
            android:exported="false" />
        <activity
            android:name=".views.InicioActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".views.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>